body {
    background-color: #ffff;
}

.titulo-tareas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black; /* Azul Bootstrap */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid green;
    padding-bottom: 5px;
    display: inline-block;
}

.task-filter {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid green;
}


.btn-floating {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.empty-state {
    text-align: center;
    padding: 40px 0;
    color: #777;
    display: none;
}

.empty-state i {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #ccc;
}
